# Servidor
PORT=3000
NODE_ENV=production

# Banco de Dados (Configuração Render)
DATABASE_URL=postgresql://seu_usuario:sua_senha@host_do_render.com/cofre_digital?sslmode=require

# Segurança & Serviços Externos
JWT_SECRET=sua_chave_secreta_super_forte
FIREBASE_PROJECT_ID=aplicativo-financas